@import '../../../public/styles/index.scss';

._main {
  border-radius: 10px;
  position: absolute;
  width: 32.688rem;
  top: 2.5rem;
  left: -35%;
  background-color: $white;
  box-shadow: 5px 5px 20px $blackRussian;
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
}

._hidden {
  display: none;
}

._line {
  width: 1px;
  background-color: $doveGray;
  height: auto;
  margin: 0.625rem;
}

._leftSide {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.625rem ;
}

._rightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  padding: 0.625rem 1.25rem;
}

._greenTitle {
  color: $easternBlue;
  margin-bottom: 6%;
}

._link {
  margin-bottom: 2%;
  margin-left: 0.4rem;
  box-sizing: border-box;
  padding: 3%;

  &:hover {
    background-color: $gallerySolid;
    border-radius: 3px;
  }


  &:last-child {
    margin-bottom: 0;
  }

  & h4 {
    font-size: 0.9rem;
    color: $charade;
  }
  & p {
    font-size: 0.875rem;
    width: 80%;
    color: $doveGray;
  }
}
