@import '../../../public/styles';

@mixin separation {
  padding: 0 20px;
}

._container {
  display: flex;
  align-items: center;
}

._numberContainer {
  @include separation;
}

._number {
  font-size: $helveticaRegular14;
  font-family: $helveticaNowTextBold;
  font-weight: 200;
  cursor: pointer;
}

._arrowContainer {
  display: flex;
  cursor: pointer;
}
