@import '../../../public/styles/index.scss';

._bannerContainer {
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;

    ._mainTitle {
        padding-bottom: 3%;
        font-family: $helveticaNowTextBold;
        font-size: 2.5rem;
    }

    ._mainText {
        font-family: $helveticaNowText;
        color: $white;
        padding: 0px 7.3%;
        align-self: center;
        width: 35%;

        p {
            margin-bottom: 2%;
        }
    }
}

._middleCoin {
    height: 300px;
    width: 300px;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -22vh;
    margin: auto;
}

._subtitleContainer {
    height: 30vh;
    background-color: $gallerySolid;
    padding: 0px 7.3%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: $charade;

    ._subtitleText {
        font-family: $helveticaNowTextBold;
        font-size: 2.5rem;
        text-align: center;
        width: 100%;
        padding-top: 7vh;

        strong {
            color: $easternBlue;
        }
    }
}

._downarrow {
    cursor: pointer;
}