@import '../../../../../public/styles/index.scss';

._sliderContainer {
  width: 65%;
  margin: 0px auto;
  background: $white;
  padding: 1.5rem 0;
}

._slider{
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

._commerce{
  width: 7vw;
}
