@import '../../../../../public/styles/index.scss';

._sliderContainer {
  width: 65%;
  margin: 0px auto;
  background: $white;
  height: auto;
}

._slider{
  display: flex !important;
  justify-content: space-between;
  align-items: center;

}

._commerce{
  width: 7vw;
}

@include responsive(sm) {

  ._commerce{
    width: 11vw;
  }
  ._sliderContainer {
    width: 90%;

  }
}
