@import '../../../../../public/styles/index.scss';

._content {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  margin: auto;
}

._textParent {
  width: 40%;
}

._title {
  font-family: $helveticaNowTextBold;
  font-size: $helveticaBold60;
  margin-bottom: 0.5rem;
  color: $charade;
  line-height: 1;

  strong {
    color: $easternBlue;
  }
}

._subtitle {
  font-family: $helveticaNowText;
  color: $charade;
  font-weight: 400;
  font-size: $helveticaRegular22;
}

._buttonContainer{
  margin-top: 2.6rem;
  width: 13.75rem;
}


@include responsive(md) {

._title{
  font-size: 2.5rem;

}

}

@include responsive(sm) {

  ._title{
    text-align: center;
    font-size: 1.5rem;


  }

  ._subtitle{
    font-size: 0.8rem;
    text-align: center;
  }

  ._textParent{
    width: 100%;
    margin-top: 3rem;
  }

  ._content{
    align-items: flex-start;
    margin-top: 2rem;
  }
  ._buttonContainer{
    width: 100%;
    margin-top: 1rem;
  }

}
