@import '../../../../../public/styles/index.scss';

._container{
  height: 28.125rem;
  background-color: $gallerySolid;
  display: flex;
  justify-content: center;
  align-items: center;
}

._content{
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}
._leftContainer{
  width: 50%;
}

._title{
  font-size: $helveticaBold64;
  font-family: $helveticaNowTextBold;
  color: $charade;
  margin-bottom: 1rem;
}
._subtitle{
  font-size: $helveticaRegular24;
  font-family: $helveticaNowText;
  color: $charade;
  width: 70%;
  margin-bottom: 1rem;
}

._rightContainer{
  width: 50%;
  height: 100%;
  position: relative;

}
._pointContainer{
  position: absolute;
  right: 0;
  top: -95px;
}
._image{
  width: 500px;
  height: 573px;
}

._buttonContainer{
  width: 220px;
}

@include responsive(md) {
._container{
  height: 46rem;
}
._content{
  flex-direction: column;
  }
._leftContainer{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
._title{
  text-align: center;

}
._subtitle{
  text-align: center;
  width: 100%;
}
._buttonContainer{
  width: 90%;
}

._pointContainer{
  top: 10px;
  left: 80px;

}

._rightContainer{
  width: 100%;
}
._image{
  width: 400px;
  height: 450px;
}

}

@include responsive(sm) {

  ._container{
    height: 50rem;
  }
  ._pointContainer{
    top: 40px;
    left: -10px;
  }

  ._image{
    width: 350px;
    height: 400px;
  }

}

