@import '../../../../../public/styles/index.scss';

._main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
._firstContainer{
  height: 28.125rem;
  background-color: $gallerySolid;
  display: flex;
  justify-content: center;
  align-items: center;
}

._firstContent{
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}
._firstLeftContainer{
  width: 50%;
  height: 100%;
  position: relative;
}

._firstTitle{
  font-size: $heleticaBold64;
  font-family: $helveticaNowTextBold;
  color: $charade;
  margin-bottom: 1rem;
}
._firstSubtitle{
  font-size: $helveticaRegular24;
  font-family: $helveticaNowText;
  color: $charade;
  width: 70%;
  margin-bottom: 1rem;
}

._firstRightContainer{
  width: 40%;
}
._cardsContainer{
  z-index: 1;
  position: absolute;
  left: 0;
  top: -145px;
}

._firstButtonContainer{
  width: 220px;
}

._secondContainer{
  height: 28.125rem;
  background-color: $gallerySolid;
  display: flex;
  justify-content: center;
  align-items: center;
}

._secondContent{
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}
._secondLeftContainer{
  width: 50%;
}

._secondTitle{
  font-size: $heleticaBold64;
  font-family: $helveticaNowTextBold;
  color: $charade;
  margin-bottom: 1rem;
}
._secondSubtitle{
  font-size: $helveticaRegular24;
  font-family: $helveticaNowText;
  color: $charade;
  width: 70%;
  margin-bottom: 1rem;
}

._secondRightContainer{
  width: 50%;
  height: 100%;
  position: relative;
}
._atmContainer{
  position: absolute;
  right: 0;
  bottom : -100px;
}

._secondButtonContainer{
  width: 220px;
}
