@import '../../../public/styles/index.scss';

._content {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  margin: auto;
}

._textParent {
  width: 40%;
}

._title {
  font-family: $helveticaNowTextBold;
  font-size: 60px;
  margin-bottom: 0.5rem;
}

._subtitle {
  font-family: $helveticaNowText;
  color: $charade;
  font-weight: 400;
}

._button {
  margin-top: 2.6rem;
  padding: 1rem 1.875rem;
  background-color: $superNova;
  font-family: $helveticaNowText;
  border: none;
  box-shadow: 0.625rem 0.625rem 1.25rem $blackRussianOne;
  border-radius: 0.625rem;
  cursor: pointer;
}
