@import '../../../../../public/styles/index.scss';

._main {
    height: 100vh;
}

._content {
    height: 100%;
    display: flex;
    width: 85%;
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

._textParent {
    width: 50%;
    margin-top: 5%;
    color: $charade;

    h1 {
        font-family: $helveticaNowTextBold;
        font-size: $helveticaBold64;
    }

    p {
        margin: 2% 0;
        font-family: $helveticaNowText;
        font-size: $helveticaRegular20;
        width: 80%;
        line-height: 1.5rem;
    }
}

._subtitle {
    font-family: $helveticaNowText;
    font-size: $helveticaRegular20;
    color: $charade;
    font-weight: 400;
}

._firstContainer{
    height: 25.125rem;
    background-color: $gallerySolid;
    display: flex;
    justify-content: center;
    align-items: center;
}

._basicForm {
    display: flex;
    width: 75%;
    color: $easternBlue;

    ._buttonContainer {
        width: 160px;
    }
}

._input{
    background-color: rgba(44, 172, 179, 0.2);
    width: 180px;
    height: 2rem;
    padding: 0.5rem 1rem;
    color: $easternBlue;
    border-radius: 10px;
    border:none;
    margin-left: 1rem;
    font-size: $helveticaRegular14;
}

._downarrow {
    cursor: pointer;
}

._secondContainer {
    height: 30vh;
    background-color: $gallerySolid;
    padding: 0px 7.3%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: $charade;
    justify-content: space-between;

    ._customerContainer {
        width: 50%;
    }

    ._customerTitle {
        font-family: $helveticaNowTextBold;
        font-size: $helveticaBold64;
    }

    ._customerSubtitles {
        font-family: $helveticaNowText;
        font-size: $helveticaRegular20;
        margin-top: 5%;
    }
}

._commercesContainer {
    width: 50%;
    display: flex;
    justify-content: inherit;
}

._commercesLogo {
    background-repeat: no-repeat;
    width: 200px;
    height: 140px;
}

._services {
    ._servicesText {
        font-family: $helveticaNowText;
        font-size: $helveticaRegular20;
        margin: 5% 0 3% 0;

        strong {
            font-weight: 900;
        }
    }
}

