@import '../../../../../public/styles/index.scss';

._container {
  height: 100vh;
  background: $gallerySolid;
}

._post{
  width: 70%;
  height: 300px;
}

._image {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 60%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

._postContainer{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

._leftContainer{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

._rightContainer{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding-right: 7.5%;
  box-sizing: border-box;
}

 ._infoContainer {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 10px 10px;

  ._previousInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: $charade;

    ._title{
      font-family: $helveticaNowTextBold;
      font-size: $helveticaRegular20;
      margin: 5% 10% 5% 10%
    }

    ._link {
      font-family: $helveticaNowTextBold;
      font-size: $helveticaRegular20;
      margin: 0 10% 5% 10%;
    }

    ._subtitle {
      font-family: $helveticaNowText;
      font-size: $helveticaRegular14;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      margin: 0 10% 5% 10%;
    }
  }
}


._textContainer{
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
}

._date{
  font-family: $helveticaNowText;
  font-size: $helveticaRegular14;
  color: $charade;
  margin-bottom: 1rem;
}

._title{
  font-family: $helveticaNowTextBold;
  font-size: $helveticaBold64;
  color: $charade;
  margin-bottom: 1rem;
}

._content{
  font-family: $helveticaNowText;
  font-size: $helveticaRegular20;
  color: $charade;
  margin-bottom: 1rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 10px;
  }

  & ::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: $charade;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: none;
  }
}

._arrowBack {
  width: 1.1rem;
  height: 1.1rem;
  margin-bottom: 1.5rem;
  align-self: flex-start;
  margin-left: 7.5%;
  display: none;
}


@include responsive(md) {

  ._post {
    height: 60vh;
    width: 85%;
    margin-bottom: 3%;
  }

  ._container{
    height: auto;
  }

  ._postContainer {
    flex-direction: column;
    height: auto;
  }

  ._leftContainer {
    width: 100%;
    margin-top: 7rem;
  }

  ._rightContainer {
    width: 85%;
    margin-bottom: 5%;
    overflow: auto;

  }

  ._title {
    font-size: $helveticaBold64 - 1;
  }

  ._content {
    overflow-y: auto
  }

  ._arrowBack {
    display: block;
  }
}
