@import '../../../../../public/styles/index.scss';

._content {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  margin: auto;
}

._textParent {
  width: 50%;
}

._title {
  font-family: $helveticaNowTextBold;
  font-size: $helveticaBold64;
}

._subtitle {
  font-family: $helveticaNowText;
  width: 80%;
  margin-top: 1rem;
  font-size: $helveticaRegular24
}

._buttonParent {
  width: 220px;
  margin-top: 1.5rem;
}

@include responsive(lg) {

 ._title{
   font-size: 1.5rem;
 }

}

@include responsive(md) {

  ._title{
    font-size: 1rem;
  }
  ._subtitle{
    font-size: 0.8rem;
  }

  ._buttonParent{
    width:180px
  }
}
