@import '../../../public/styles/index.scss';

._sliderContainer {
  padding: 1rem;
  width: 85%;
  margin: 0px auto;
  background:$white
}

._slider{
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

._commerce{
  width: 12vw;
  height: auto;
}
