@import '../../../public/styles/index.scss';

._parent {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
}

._main {
  width: 85%;
  margin: 0px auto;
  padding: 1.5rem 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._logoParent {
  cursor: pointer;
}

._leftSide {
  display: flex;
  flex-direction: row;
  align-items: center;
}

._list {
  padding-left: 4rem;
  display: flex;
  list-style: none;
  font-family: $helveticaNowText;
  font-size: 0.875rem;

  & li {
    cursor: pointer;
  }
}

._paddingLeft {
  margin-left: 3rem;
  position: relative;
}

._signUp {
  color: $easternBlue;
  font-family: $helveticaNowText;
  font-size: 0.875rem;
  margin-right: 1.2rem;
  cursor: pointer;
}

._signInBtn {
  background-color: $easternBlue;
  font-family: $helveticaNowText;
  color: $white;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.875rem;
}

._products {
  display: flex;
  align-items: center;
  position: relative;
}

._icon {
  margin-left: 0.5rem;
}

._pointParent {
  display: block;
  position: absolute;
  top: 1.4rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

._point {
  width: 6px;
  height: 6px;
  background-color: $easternBlue;
  border-radius: 50%;
}

._activeColor {
  margin-left: 3rem;
  position: relative;
  color: $easternBlue !important;
}

._responsive {
  display: none;
}

@include responsive(xl) {
  ._paddingLeft {
    margin-left: 1.5rem;
  }
}

@include responsive(lg) {
  ._parent {
    display: none;
  }

  ._responsive {
    display: block;
  }
}
