@import '../../../../../public/styles/index.scss';

._main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
._container{
  height: 28.125rem;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}

._content{
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}
._leftContainer{
  width: 50%;
  height: 100%;
  position: relative;
}

._title{
  font-size: $helveticaBold64;
  font-family: $helveticaNowTextBold;
  color: $charade;
  margin-bottom: 1rem;
}
._subtitle{
  font-size: $helveticaRegular24;
  font-family: $helveticaNowText;
  color: $charade;
  width: 70%;
  margin-bottom: 1rem;
}

._rightContainer{
  width: 40%;
}
._cardsContainer{
  z-index: 1;
  position: absolute;
  left: 30px;
  top: -145px;
}

._buttonContainer{
  width: 220px;
}

@include responsive(lg) {

  ._image{
    width: 400px;
    height: 450px;
  }
  ._cardsContainer{
    top: -30px;
    left: -20px;
  }

}
@include responsive(md) {

  ._cardsContainer{
    top: 0px;
    left: -50px;
  }

  ._image{
    width: 350px;
    height: 400px;
  }

  }

  @include responsive(sm) {

    ._cardsContainer{
      top: 0px;
      left: -50px;
    }

    ._title{
      font-size: 1.5rem;
    }

    ._subtitle{
      width: 100%;
    }
    ._image{
      width: 250px;
      height: 300px;
    }


  }
