$charade:           #262833;
$easternBlue:       #2CACB3;
$white:             #FFFFFF;
$superNova:         #F7C906;
$doveGray:          #707070;
$blackRussian:      #0000000D;
$blackRussianOne:   #0000001A;
$gallerySolid:      #EFEFEF
