
$helveticaNowText: 'Helvetica-Now-Text', sans-serif;
$helveticaNowTextBold: 'Helvetica-Now-Text-Bold', sans-serif;
$helveticaNowTextBlack: 'Helvetica-Now-Text-Black', sans-serif;
$openSans: 'OpenSans-Regular', sans-serif;
$openSansBold: 'OpenSans-Bold', sans-serif;
