
$helveticaNowText: 'Helvetica-Now-Text', sans-serif;
$helveticaNowTextBold: 'Helvetica-Now-Text-Bold', sans-serif;
$helveticaNowTextBlack: 'Helvetica-Now-Text-Black', sans-serif;
$openSans: 'OpenSans-Regular', sans-serif;
$openSansBold: 'OpenSans-Bold', sans-serif;


$helveticaRegular14: 0.875rem;
$helveticaRegular16: 0.875rem;
$helveticaRegular20: 0.938rem;
$helveticaRegular22: 1rem;
$helveticaRegular24: 1.125rem;
$heleticaBold20: 0.938rem;
$heleticaBold64: 2.5rem;
$helveticaBold60: 3.75rem;

$opensansBold16: 0.7rem;
$openSansRegular15: 0.65rem;
$openSansRegular11: 0.55rem;
