@import '../../../../../public/styles/index.scss';

._content {
  width: 85%;
  height: inherit;
  margin: auto;
  position: relative;
}

._textContainer {
  top: 20%;
  position: absolute;
  width: 45%;
  color: $white;
}

._text {
  font-family: $helveticaNowText;
  margin-top: 1rem;
  width: 80%;
}

._title {
  font-family: $helveticaNowTextBold;
  font-size: 1.8rem;
  width: 450px;
}

._btnParent {
  margin-top: 1.5rem;
  width: 220px;
}

._secondTextParent {
  position: absolute;
  bottom: 2%;
  z-index: 2;
}

._subtitle {
  margin-bottom: 2.3rem;
  font-size: $helveticaBold64;
  font-family: $helveticaNowTextBold;
}

._serviceText {
  font-family: $helveticaNowText;
  font-size: $helveticaRegular20;
}

._arrowParent {
  cursor: pointer;
  display: inline-block;
  margin-top: 0.5rem;
}

._icons {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

._logoParent {
  padding: 1rem 1rem 0rem 1rem;
  margin-top: auto;

  & img:last-child {
    margin-left: 1rem;
  }

  & p {
    color: $charade;
    font-family: $helveticaNowText;
    font-size: $helveticaRegular14;
    margin-bottom: 0.7rem;
  }
}

._proLogoParent {
  width: 7.5rem;
  display: none;
}

@include responsive(xxl) {
  ._title {
   font-size: $helveticaBold64 - 1;
  }

  ._logoParent {
    & p {
      display: none;
    }
  }
}
@include responsive(xl) {
  ._title {
   font-size: $helveticaBold64 - 1;
   width: 100%;
  }

}

@include responsive(md) {
  ._textContainer {
    position: relative;
    top: 6rem;
    width: 100%;
  }

  ._title {
    margin-top: 0.4rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  ._text {
    font-size: 0.9rem;
  }

  ._btnParent {
    width: 100%;
  }

  ._proLogoParent {
    display: block;
  }

  ._secondTextParent {
    display: none;
  }
}
