@import '../../../../../public/styles/index.scss';

._content {
  width: 85%;
  height: inherit;
  margin: auto;
  position: relative;
}

._textContainer {
  top: 23%;
  position: absolute;
  width: 45%;
  color: $white;
}

._text {
  font-family: $helveticaNowText;
  margin-top: 1rem;
  width: 80%;
}

._title {
  font-family: $helveticaNowTextBold;
  font-size: $heleticaBold64;
}

._btnParent {
  margin-top: 1.5rem;
  width: 220px;
}

._secondTextParent {
  position: absolute;
  bottom: 2%;
  z-index: 2;
}

._subtitle {
  margin-bottom: 2.3rem;
  font-size: $heleticaBold64;
  font-family: $helveticaNowTextBold;
}

._serviceText {
  font-family: $helveticaNowText;
  font-size: $helveticaRegular20;
}

._arrowParent {
  cursor: pointer;
  display: inline-block;
  margin-top: 0.5rem;
}

._icons {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

._logoParent {
  padding: 1rem 1rem 0rem 1rem;
  margin-top: auto;

  & img:last-child {
    margin-left: 1rem;
  }

  & p {
    color: $charade;
    font-family: $helveticaNowText;
    font-size: $helveticaRegular14;
    margin-bottom: 0.7rem;
  }
}
