@import '../../../../../public/styles/index.scss';

._main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

._container{
  height: 25.125rem;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}

._content{
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}

._leftContainer{
  width: 50%;
  height: 100%;
  position: relative;
}

._deviceContainer{
  position: absolute;
  top: -10px;
}

._rightContainer{
  width: 35%;

  p {
    width: 80%;
    line-height: 30px;
  }

  ._buttonContainer {
    width: 50%;
  }
}

._title{
  font-size: $heleticaBold64;
  font-family: $helveticaNowTextBold;
  color: $charade;
  margin-bottom: 1rem;
}

._subtitle{
  font-size: $helveticaRegular24;
  font-family: $helveticaNowText;
  color: $charade;
  width: 70%;
  margin-bottom: 1rem;
}
